<!-- Modal post staff modified -->
<div class="modal fade" id="modal_staff_modified_warning" tabindex="-1" aria-labelledby="modalLabel_staff_modified_warning" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-warning-content">
            <div class="modal-warning-header">
                <h5 class="modal-title" id="modalLabel_staff_modified_warning">Warning</h5>
            </div>
            <div class="modal-body">
                Your post has been moderated by staff.
            </div>
            <div class="modal-warning-footer">
                <a href="" class="btn btn-primary button_shadow">Was this a mistake?</a>
            </div>
        </div>
    </div>
</div>